<!--navbar starts-->
<%= render 'shared/nav' %>







<div class= "row">
  <div class='col-3' style="background-color: blue; height: 100vh">
    <h3>User profile</h3>

    <%= image_tag "https://images.unsplash.com/photo-1569913486515-b74bf7751574?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=670&q=80", class: "avatar-round", alt: "avatar-round" %>

    <%= link_to "+ Edit Photo", new_user_session_path %>

  </div>
  
  <div class= 'col-9' style='background-color: yellow; height: 50vh'>
    <div >
      <%= form_for @user, defaults: { wrapper: false } do |f| %>
       
          <div class= "row justify-content-around">
            <div class="col-6 ">
            <div>
            <%= f.label :name %>
              <%= f.text_field :name, label_html:{class:"label"} %>
              </div>
              <div>
              <%= f.label :contact %>
              <%= f.text_field :contact, label_html:{class:"label"} %>
              </div>
              <div>
              <%= f.label :email %>
              <%= f.text_field :email, label_html:{class:"label"} %>
            </div>
           <%= f.label :username %>
              <%= f.text_area :username, label_html:{class:"label"}%>
              <%= f.label :location %>
              <%= f.text_field :location, label_html:{class:"label"} %>
              <%= f.label :avatar%>
              <%= f.file_field :avatar, as: :file, label_html:{class:"label"}%>
            

            <div class="form-actions">
              <%= f.button :submit %>
            </div>
            </div>

      <% end %>
    </div>

  

  <div class="form-actions-return">

    <%= link_to 'Back', skills_path %>

  </div>

</div>
</div>
  





