
  <!--navbar starts-->
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "skillSWAPPER", class: "navbar-brand" %>
      <%#= image_tag "tools.png" %>
    <%# end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Categories", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up/Sign in/Profile", "#", class: "nav-link" %>
        </li>
         <li class="nav-item">
          <%= link_to "Log out", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>

  <!--navbar ends-->

  <h1>About me</h1>

  <div class="first-section">

    <!--avatar starts-->
    <div class="avatar-container">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "avatar-square", alt: "avatar-square" %>
      <div class="avatar-green-background">
      </div>
    </div>
    <!--avatar ends-->

    <!--services starts-->
    <div class="services-container">

      <div class="services-card-container">

        <div class="services-card a">
          <div class="service-name">
            <p>Coding lesson</p>
          </div>

          <div class="service-category">
            <p>Teaching</p>
          </div>
        </div>

        <div class="book-button">
          <p>Book</p>
        </div>

      </div>

      <div class="services-card-container">

        <div class="services-card a">
          <div class="service-name">
            <p>Coding service</p>
          </div>

          <div class="service-category">
            <p>Coding</p>
          </div>
        </div>

        <div class="book-button">
          <p>Book</p>
        </div>

      </div>

    </div>
    <!--services ends-->
  </div>

  <div class="second-section">

    <!--contact-container starts-->
    <div class="contact-container">

    </div>

    <!--contact-container ends-->

    <!-- booking-container starts-->
    <div class="booking-container">

    </div>

    <!--booking-container ends-->


  </div>



























