  <!--navbar starts-->
  <%= render 'shared/nav' %>

  <!--navbar ends-->


  <!--FIRST SECTION OF PAGE STARTS-->
<div class="first-section">

    <div class="avatar-picture">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "avatar-square", alt: "avatar-square" %>
    </div>

    <div class="user-information">
      <h3 id="info-box-name"><%= @user.name %></h3>
      <p id="info-box-location">Location<%= @user.location %></p>
      <p id="info-box-contact">phone number <%= @user.contact %></p>
    </div>
</div>
  <!--FIRST SECTION OF PAGE ENDS-->



  <!--SECOND SECTION OF PAGE STARTS-->

  <div class="second-section">

    <!--services starts-->
    <div class="services-container">
      <%# @user.skills.limit(3).each do |skill| %>

        <div class="one-service">
          <div class="one-service-info">
            <div class="one-service-name">
              <p>Name <%#= skill.name %></p>
            </div>
            <div class="one-service-category">
              <p>Type <%#= skill.skill_type %></p>
            </div>
          </div>

          <div class="one-service-buttons">
            <div class="one-service-view-button">
              <%#= link_to "View", skill_path(skill) %>
            </div>

            <div class="one-service-book-button">
            <%#= link_to "Book", new_skill_booking_path(skill)%>
            </div>
          </div>
        </div>

       <%# end %>
    </div>

<!--

-->



    <!--services ends-->

    <!-- booking-container starts-->
    <div class="booking-container">
      <div class="booking-header">

        <div class="booking-skill">
          <p>Skill</p>
        </div>

        <div class="booking-name">
          <p>Booked by</p>
        </div>

        <div class="booking-date">
          <p>Date</p>
        </div>
      </div>

      <div class="booking-content">
        <% @user.skills.limit(1).each do |skill| %>
        <div class="booking-skill">
          <p><%= skill.name %></p>
        </div>

        <div class="booking-name">
          <p><%= skill.name %></p>
        </div>

        <div class="booking-date">
          <p>25/11/2020</p>
        </div>
      </div>
    <% end %>
    </div>

    <!--booking-container ends-->


  </div>

  <!--SECOND SECTION OF PAGE ENDS-->

























