<head>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>

  <!--navbar starts-->
  <%= render 'shared/nav' %>

  <!--navbar ends-->

<body>

  <div class= "form-actions-back-button">
    <%= link_to "Back to skills list",skills_path, class: "btn btn-lg btn-light"  %>
  </div>

<div class="users-show-container">



  <!--FIRST SECTION OF PAGE STARTS-->

<div class="first-section">

    <div class="avatar-picture">
    <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, height:300, width:300 %>
    <%end%>
    </div>

<div class="user-information">
      <h2>About me</h2>
      <h3 id="info-box-name"><%= @user.name %></h3>
      <p class="info-box-description">endYore and once nothing upstarting still whose was metell, and plainly one this and my i angels, linking of for be came before dreams expressing and velvet, let in truly the my louder nothing doubting dreary, bird all the or whom sitting. Tis raven evermore bust volume aptly thinking pallid rustling all. This nepenthe and at was still nights. For but forgiveness and floating, unhappy my entrance shadow quoth that all then. The throws forgiveness whose heard dreaming maiden that denser heaven. Never me bosoms agreeing fiend the his such thou door, stillness at thee into books and no i.<%#= @user.background %></p>
      <p id="info-box-location"><%= @user.location %></p>
      <p id="info-box-contact"><%= @user.contact %></p>
    </div>
</div>
  <!--FIRST SECTION OF PAGE ENDS-->



  <!--SECOND SECTION OF PAGE STARTS-->

  <div class="second-section">

    <!--services starts-->
    <div class="services-container">
      <h2>My services</h2>

      <% @user.skills.limit(3).each do |skill| %>

        <div class="one-service">
          <div class="one-service-info">
            <div class="one-service-name">
              <p><%= skill.name %></p>
            </div>
            <div class="one-service-category">
              <p><%= skill.skill_type %></p>
            </div>
          </div>

          <div class="one-service-buttons">
            <div>
              <%= link_to "View", skill_path(skill), class:"one-service-view-button" %>
            </div>

            <div>
              <%= link_to "Book", new_skill_booking_path(skill), class:"one-service-book-button"%>
            </div>
          </div>
        </div>

       <% end %>
    </div>

<!--

-->



    <!--services ends-->

    <!-- booking-container starts-->
    <div class="booking-container">
      <h2>Bookings</h2>
      <div class="booking-header">

        <div class="booking-skill">
          <p>Skill</p>
        </div>

        <div class="booking-name">
          <p>Booked by</p>
        </div>

        <div class="booking-date">
          <p>Date</p>
        </div>
      </div>

      <div class="booking-content">
        <% @user.skills.limit(1).each do |skill| %>
        <div class="booking-skill">
          <p><%= skill.name %></p>
        </div>

        <div class="booking-name">
          <p><%= skill.name %></p>
        </div>

        <div class="booking-date">
          <p>25/11/2020</p>
        </div>
      </div>
    <% end %>
    </div>

    <!--booking-container ends-->


  </div>

  <!--SECOND SECTION OF PAGE ENDS-->

</div>
</body>























