<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,800;1,800&display=swap" rel="stylesheet">
</head>

<!-- <div class="form_skill <%= yield(:form_skill) %>"> -->

<h1>Add a new skill</h1>


<div class="skill-form-container">


  <%= form_for(@skill) do |f| %>

    <div class="form-inputs">
      <div class="row">

          <div class="col-6 a">
            <div>
              <div>
                <%= f.label :name %>
              </div>
              <div>
                <%= f.text_field :name %>
              </div>
            </div>

            <div>
              <div>
                <%= f.label :description %>
              </div>
              <div>
                <%= f.text_area :description %>
              </div>
            </div>
          </div>


        <div class="col-6 b">
          <div>
            <div>

              <%= f.label :tag %>
            </div>
            <div>
              <%= f.text_field :tag %>
            </div>
          </div>
          <div>
            <div>
              <%= f.label :skill_location %>
            </div>
            <div>
              <%= f.text_field :skill_location %>
            </div>
          </div>
          <div>
            <div>
              <%= f.label :price %>
            </div>
            <div>
              <%= f.text_field :price %>
            </div>
          </div>
          <div>
            <div>
              <%= f.label :photo %>
            </div>
            <div>
              <%= f.file_field :price %>
            </div>
          </div>
        </div>
        <div>
              <%= f.label :tag %>
            </div>
            <div>
              <%= f.select(:tag_list, %w[Driving DIY Coding Chores Teaching Gardening Craftwork Pet\ care Baby\ care Art] ) %>
            </div>
          </div>

      </div>

    <div class="form-actions">
      <%= f.submit :submit, :class => "form-button"%>
    <%= link_to "Back", :back, class: "btn btn-lg btn-light"%>
  </div>
    </div>

  <% end %>
</div></div>



