
  <!--navbar starts-->
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to "skillSWAPPER", class: "navbar-brand" %>
      <%#= image_tag "tools.png" %>
    <%# end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Categories", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up/Sign in/Profile", "#", class: "nav-link" %>
        </li>
         <li class="nav-item">
          <%= link_to "Log out", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>

  <!--navbar ends-->

  <!--PAGE HEADING-->
<h1>About my service</h1>
  <!--PAGE HEADING-->


  <!--FIRST SECTION OF PAGE STARTS-->
<div class="first-section">

    <!--avatar starts-->
    <div class="avatar-container">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "avatar-square", alt: "avatar-square" %>

      <div class="avatar-green-background">
      </div>

      <div class="avatar-name">
        <p><%= @skill.user.name %></p>
      </div>
    </div>
    <!--avatar ends-->

    <!--services starts-->
    <div class="services-container">

      <div class="services-card-container">
        <div class="services-card a">
          <div class="service-name">
            <p><%= @skill.name  %></p>
          </div>



          <div class="service-category">
            <p><%= @skill.skill_type %></p>
          </div>
        </div>

        <div class="book-button">
          <p>(Book)</p>
        </div>
      </div>

      <!--service info card starts-->
      <div class="services-card-info">
        <div class="service-description">
        <p><%= @skill.description %></p>
        </div>

        <div class= "service-area">
          <div class="service-location">
            <p><%= @skill.user.location %></p>
          </div>
          <div class="service-remote">
            <p><%= @skill.remote %></p>
          </div>
        </div>


        <div class="service-price">
          <p><%= @skill.price %></p>
        </div>

      </div>
    </div>


    <!--services ends-->
</div>
  <!--FIRST SECTION OF PAGE ENDS-->




  <!--SECOND SECTION OF PAGE STARTS-->
<div class="second-section">

    <!--reviews-container starts-->
    <div class="reviews-container">
      <div class="reviews-title">
        <p>Reviews</p>
      </div>

      <div class="reviews-box">

        <!--Review no. 1 start-->

        <div class="reviews-info">
          <div class="reviewer-name">
            <p>(name)</p>
          </div>

          <div class="rating">
            <p>(rating)</p>
          </div>
        </div>

        <div class="review-description">
          <p> (review description) </p>
        </div>
        <!--Review no. 1 end-->

        <!--Review no. 2 start-->

        <div class="reviews-info">
          <div class="reviewer-name">
            <p>(name)</p>
          </div>

          <div class="rating">
            <p>(rating)</p>
          </div>
        </div>

        <div class="review-description">
          <p> (review description) </p>
        </div>

        <!--Review no. 2 end-->

      </div>
    </div>

    <!--reviews-container ends-->

    <!-- showcase-container starts-->
    <div class="showcase-container">


      <div class="showcase-title">
        <p>Showcased work</p>
      </div>

      <div class="showcase-info">

        <div class="image-holder">
        </div>
      </div>

    </div>

    <!--booking-container ends-->


</div>
  <!--SECOND SECTION OF PAGE ENDS-->


