<head>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
  <!--navbar starts-->
  <%= render "shared/nav" %>



  <!--navbar ends-->

  <!--PAGE HEADING-->
<!--<div class="skils-show-heading">
  <h3>About my service</h3>
</div>-->
  <!--PAGE HEADING-->
<body>

  <div class= "form-actions-back-button">
    <%= link_to "Back to skills list",skills_path, class: "btn btn-lg btn-light"  %>
  </div>

<div class="skills-show-container">



  <!--FIRST SECTION OF PAGE STARTS-->
<div class="first-section">

    <div class="avatar-picture">
     <% if @skill.user.avatar.attached? %>
      <%= cl_image_tag @skill.user.avatar.key, height:300, width:300 %> 
         <%end%>
    </div>

    <div class="user-information">
      <h2>About me</h2>
      <h3 id="info-box-name"><%= @skill.user.name %></h3>
      <p class="info-box-description">endYore and once nothing upstarting still whose was metell, and plainly one this and my i angels, linking of for be came before dreams expressing and velvet, let in truly the my louder nothing doubting dreary, bird all the or whom sitting. Tis raven evermore bust volume aptly thinking pallid rustling all. This nepenthe and at was still nights. For but forgiveness and floating, unhappy my entrance shadow quoth that all then. The throws forgiveness whose heard dreaming maiden that denser heaven. Never me bosoms agreeing fiend the his such thou door, stillness at thee into books and no i.<%#= @skill.user.description %></p>
      <p id="info-box-location"><%= @skill.user.location %></p>
      <p id="info-box-contact"><%= @skill.user.contact %></p>
    </div>
</div>
  <!--FIRST SECTION OF PAGE ENDS-->




  <!--SECOND SECTION OF PAGE STARTS-->
<div class="second-section">

  <!--services starts-->

  <div class="service-box">


        <div id="service-name">
          <p><%= @skill.name  %></p>
        </div>

        <div id="service-category">
          <p>Category: <%= @skill.tag %></p>
        </div>

        <div id="service-description">
          <p><%= @skill.description %></p>
        </div>

        <div id="service-location">
          <p><%= @skill.user.location %></p>
        </div>

        <div id="service-remote">
          <p><%= @skill.remote %></p>
        </div>

        <div id="service-price">
          <p>Price: <%= @skill.price %> RMB/hr</p>
        </div>
        <div style="margin-bottom: 10px;">
          <%= link_to "Book", new_skill_booking_path(@skill), class:"service-book-button" %>
        </div>
        <div>
          <%= link_to "View all my services", user_path(@skill.user), class:"services-view-button" %>
        </div>
  </div>


    <!--services ends-->


    <!-- showcase-container starts-->
    <div class="showcase-container">
        <h2>Showcased work</h2>
     <% if @skill.photos.attached? %>
       <% @skill.photos.each do |a| %>
       <%= cl_image_tag a.key, height:300, width:300 %> 
         <%end%>
        
        <% end %>
        

        <div class="image-holder">
        </div>
      </div>

    </div>

    <!--booking-container ends-->


</div>
  <!--SECOND SECTION OF PAGE ENDS-->
</div>
</body>

