<head>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
  <!--navbar starts-->
  <%= render "shared/nav" %>



  <!--navbar ends-->

  <!--PAGE HEADING-->
<!--<div class="skils-show-heading">
  <h3>About my service</h3>
</div>-->
  <!--PAGE HEADING-->
<body>

  <div class= "form-actions-back-button">
    <%= link_to "Back to skills list",skills_path, class: "btn btn-lg btn-light"  %>
  </div>

<div class="skills-show-container">



  <!--FIRST SECTION OF PAGE STARTS-->
<div class="first-section">

    <div class="avatar-picture">
     <% if @user.avatar.attached? %>
      <%= cl_image_tag @user.avatar.key, height:300, width:300 %> 
         <%end%>
    </div>

    <div class="user-information">
      <h2>About me</h2>
      <h3 id="info-box-name"><%= @skill.user.name %></h3>
      <p class="info-box-description"><%= @skill.user.description %></p>
      <p id="info-box-location"><%= @skill.user.location %></p>
      <p id="info-box-contact"><%= @skill.user.contact %></p>
    </div>
</div>
  <!--FIRST SECTION OF PAGE ENDS-->




  <!--SECOND SECTION OF PAGE STARTS-->
<div class="second-section">

  <!--services starts-->

  <div class="service-box">


        <div id="service-name">
          <p><%= @skill.name  %></p>
        </div>

        <div id="service-category">
          <p>Category: <%= @skill.tag %></p>
        </div>

        <div id="service-description">
          <p><%= @skill.description %></p>
        </div>

        <div id="service-location">
          <p><%= @skill.user.location %></p>
        </div>

        <div id="service-remote">
          <p><%= @skill.remote %></p>
        </div>

        <div id="service-price">
          <p>Price: <%= @skill.price %> RMB/hr</p>
        </div>
        <div style="margin-bottom: 10px;">
          <%= link_to "Book", new_skill_booking_path(@skill), class:"service-book-button" %>
        </div>
        <div>
          <%= link_to "View all my services", user_path(@skill.user), class:"services-view-button" %>
        </div>
  </div>


    <!--services ends-->


    <!-- showcase-container starts-->
    <div class="showcase-container">
        <h2>Showcased work</h2>
     
        

        <div class="image-holder">
        </div>
      </div>

    </div>

    <!--booking-container ends-->


</div>
  <!--SECOND SECTION OF PAGE ENDS-->
</div>
</body>

