

<%= image_tag('Login.jpeg', id:'background') %>
<div class="containerj">
<div class="login-formj">
<div class="centerj">



<h2>Log In</h2>

</div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="centerj columnj">
    <%= f.label :email, class: "labelj" %>
    <%= f.input_field :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }, class: "inputj" %>
    <%= f.label :password, class: "labelj" %>
    <%= f.input_field :password,
                required: true,
                input_html: { autocomplete: "current-password" }, class: "inputj" %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

    <div class="form-actions-log-in">
      <%= f.button :submit, "Log in" %>
    </div>
    <div class= "form-actions-back-button">
      <%= link_to "Back",root_path, class: "btn btn-lg btn-light"  %>
    </div>
<% end %>

<div>
<%= render "devise/shared/links"%>
</div>
</div>
</div>
