<h2>Log in</h2>
<%# <img src='Login.jpeg' id='background'> %>
<div class="container">
<div class="login-form">
<div class="center">
<h1>Log In</h1>
</div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="center column">
    <%= f.input_field :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" }, class: "input" %>
    <%= f.input_field :password,
                required: false,
                input_html: { autocomplete: "current-password" }, class: "input" %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>